@font-face {
  font-family: 'GG Sans';
  src: url(../src/assets/gg-sans-Normal.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'GG Sans';
  src: url(../src/assets/gg-sans-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'GG Sans';
  src: url(../src/assets/gg-sans-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'GG Sans';
  src: url(../src/assets/gg-sans-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'GG Sans';
  src: url(../src/assets/gg-sans-ExtraBold.ttf);
  font-weight: 700;
}